@{
    ViewBag.Title = "Contact";
}
<h2 class="text-center">Pagina de contacto</h2>


<div class="col-md-12 bg-info">
    <h2 class="text-center">Redes sociales</h2>
    <p class="text-center">Puedes localizar al desarrollador en el correo electronico manuel.cansino@tectijuana.edu.mx</p>
</div>
<div class="col-md-12 bg-warning">
    <h2 class="text-center">Numero de telefono</h2>
    <p class="text-center">Puedes localizarme por whatsapp al nuemero 6641243673</p>
</div>
<div class="col-md-12 bg-info">
    <h2 class="text-center">Direccion</h2>
    <p class="text-center">Av. Rubi #3293 Col. progreso</p>
</div>
<address>
    
</address>