@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Bienvenidos a mi pagina de peliculas</h1>
    <p class="text-info text-center">Esta pagina esta desarrollada como practica semanal de la unidad 3.</p>
</div>

<div class="row">
    <div class="col-md-4 bg-info">
        <h2>Descripcion de la pagina</h2>
        <p>
            Esta pagina esta desarrollada para brindar una descripcion breve sobre peliculas
        </p>
    </div>
    <div class="col-md-4 bg-info">
        <h2>Informacion del desarrollador</h2>
        <p>Alumno del Instituto Tecnologico de Tijuana en la carrera de Ing. Informatica.</p>
    </div>
    <div class="col-md-4 bg-info">
        <h2>Acerca de la materia</h2>
        <p>Esta practica esta desarrollada para la meteria de Desarrollo de Aplicaciones Web.</p>
    </div>

</div>